<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Product Catalog</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar spellcheck="true" (ionInput)="filterList($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of testData" button (click)="onOpenItem(item)" lines="full">
      <ion-thumbnail slot="start">
          <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
        <ion-label><h2>{{item.brand}}</h2><p>{{item.name}}</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
